// Resource https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
@use "sass:math";
$ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618,
);

$base-size: 1rem;
$size-ratio: map-get($ratios, "majorThird");

.text-xs {
  font-size: calc($base-size / ($size-ratio * $size-ratio));
}

.text-sm {
  font-size: calc($base-size / $size-ratio);
}

.text-base {
  font-size: $base-size;
}

$levels: "md", "lg", "xl", "2xl", "3xl", "4xl";

$level-size: $base-size;
@each $level in $levels {
  $level-size: $level-size * $size-ratio;
  .text-#{$level} {
    font-size: $level-size;
  }
}
