/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v29-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../../assets/fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/montserrat-v23-latin_cyrillic-500.woff2") format("woff2"), url("../../assets/fonts/montserrat-v23-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* marck-script-regular - latin_cyrillic */
@font-face {
  font-family: "Marck Script";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/marck-script-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../../assets/fonts/marck-script-v14-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
  hyphens: auto;
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

h4,
.heading-4 {
  font-size: 1.25rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.975em;
  font-size: clamp(1rem, 4.25vw + 1rem, 1.25rem);
}

h3,
.heading-3 {
  font-size: 1.5625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.975em;
  font-size: clamp(1.046875rem, 4.515625vw + 1rem, 1.5625rem);
}

h2,
.heading-2 {
  font-size: 1.953125rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.975em;
  font-size: clamp(1.30859375rem, 4.64453125vw + 1rem, 1.953125rem);
}

h1,
.heading-1 {
  font-size: 2.44140625rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.975em;
  font-size: clamp(1.6357421875rem, 4.8056640625vw + 1rem, 2.44140625rem);
}

:root {
  --clr-primary: #eb690b;
  --clr-primary-0: #f7c39d;
  --clr-primary-1: #f3a56d;
  --clr-primary-2: #ef873c;
  --clr-primary-3: var(--clr-primary);
  --clr-primary-4: #d45f0a;
  --clr-primary-5: #bc5409;
  --clr-primary-6: #a54a08;
  --clr-secondary-0: #99d3d8;
  --clr-secondary-1: #66bdc5;
  --clr-secondary-2: #33a7b1;
  --clr-secondary-3: #00919e;
  --clr-secondary-4: #00919e;
  --clr-secondary-5: #00919e;
  --clr-text: #f8f9fa;
  --clr-light-0: #f8f9fa;
  --clr-light-1: #f1f3f5;
  --clr-light-2: #e9ecef;
  --clr-light-3: #dee2e6;
  --clr-dark-0: #868e96;
  --clr-dark-1: #495057;
  --clr-dark-2: #343a40;
  --clr-dark-3: #212529;
}

.lobo-owl > * + * {
  margin-top: var(--mt, 1em);
}

:root {
  --sct-px: 0.75rem;
  --sct-py: 2rem;
}

.section {
  max-width: var(--sct-mw, 1200px);
  padding: var(--sct-py, 2rem) var(--sct-px, 0.75rem);
  margin-inline: auto;
}

@media (min-width: 640px) {
  :root {
    --sct-py: 2.25rem;
    --sct-px: 1rem;
  }
}
@media (min-width: 768px) {
  :root {
    --sct-py: 2.5rem;
    --sct-px: 1.25rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --sct-py: 3rem;
    --sct-px: 1.5rem;
  }
}
@media (min-width: 1280px) {
  :root {
    --sct-py: 4rem;
    --sct-px: 2rem;
  }
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-x-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--clr-light-0);
  color: var(--clr-dark-3);
}

a {
  color: var(--clr-primary-3);
  transition: color 300ms ease-in-out;
}
a:hover {
  color: var(--clr-primary-5);
}

section h2 {
  text-align: center;
}

#hero {
  position: relative;
  height: 100vh;
}
#hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#hero .overlay {
  background-color: var(--clr-dark-2);
  opacity: 0.4;
}
#hero h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--clr-text);
  font-family: "Marck Script";
}

#about {
  position: relative;
  z-index: 2;
}
#about .desc {
  text-align: center;
  font-size: 1.125rem;
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 3rem;
}
#about .gallery {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
#about .gallery .wide {
  grid-column: span 2;
}
#about .gallery .tall {
  grid-row: span 2;
}
#about .gallery .big {
  grid-column: span 2;
  grid-row: span 2;
}
#about .gallery li {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .gallery li img, #about .gallery li a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

@media screen and (min-width: 560px) {
  #about .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#fresh {
  position: relative;
  overflow: hidden;
  background-color: var(--clr-secondary-0);
  padding-block: var(--sct-py);
}
#fresh .gallery {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  gap: 4px;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--sct-px);
}
#fresh .gallery img {
  border-radius: 6px;
}
#fresh .wave {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 200%;
  animation: wave 5s cubic-bezier(0.16, 0.54, 0.82, 0.24) infinite;
}
#fresh .wave svg {
  fill: var(--clr-secondary-3);
}

@media screen and (min-width: 640px) {
  #fresh .gallery {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
  }
}
#contacts {
  display: grid;
  grid-template-areas: "title" "links" "hours" "map";
}
#contacts .title {
  grid-area: title;
}
#contacts .links {
  grid-area: links;
  text-align: center;
  margin-bottom: 2rem;
}
#contacts .links a {
  font-size: 1.125rem;
}
#contacts .working-hours {
  grid-area: hours;
  --wh-gap: 12px;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--wh-gap);
  margin-bottom: 2rem;
}
#contacts .working-hours li {
  width: calc(50% - var(--wh-gap));
  text-align: center;
}
#contacts .working-hours li .heading-3 {
  margin-bottom: 0px;
}
#contacts .working-hours li .day {
  font-weight: 600;
}
#contacts .map {
  grid-area: map;
  width: 100% !important;
}

@media screen and (min-width: 640px) {
  #contacts .working-hours li {
    width: calc(25% - var(--wh-gap));
  }
}
@media screen and (min-width: 768px) {
  #contacts {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "hours title" "hours links" "hours map";
    column-gap: 2rem;
  }
  #contacts .working-hours {
    margin-bottom: 0px;
    --wh-gap: 12px;
    border-radius: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem 2rem;
    gap: var(--wh-gap);
    background-color: var(--clr-primary-2);
  }
  #contacts .working-hours li {
    width: 100%;
  }
  #contacts .working-hours li:first-child {
    margin-bottom: 2rem;
  }
  #contacts .map {
    height: 400px !important;
  }
}