<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="styles/style.css"/>
  </head>
  <body>
    <section id="hero">
      <img class="rellax" src="./assets/imgs/hero-background.jpg" alt="Home background image"/>
      <div class="overlay abs-full"></div>
      <h1 data-aos="fade-up">Морски продукти за ценители</h1>
    </section>

    <section id="about" class="section">
      <h2 data-aos="fade-up">За нас</h2>
      <p data-aos="fade-up" class="desc">
        При нас в Немо Марек можете да намерите разнообразен избор от пресни и
        готвени риби, както и различни салати и гарнитури.
      </p>

      <ul class="gallery" role="list">
        {% block gallery %}
          {% for i in range(1, 38) %}
            <li data-aos="fade-up" data-aos-offset="50">
              <a data-fslightbox href="./assets/imgs/gallery/{{i}}.jpg">
                <img
              loading="lazy"
              src="./assets/imgs/gallery-min/{{i}}.jpg"
              alt="Fish products"
/>
              </a>
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
    </section>

    <section id="fresh">
      <h2 class="fresh-title" data-aos="fade-up">Нашият собствен улов</h2>

      <div class="overlay--sea abs-full"></div>

      <div class="wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill-opacity="1"
            d="M0,160L48,149.3C96,139,192,117,288,112C384,107,480,117,576,133.3C672,149,768,171,864,192C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
          ></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill-opacity="1"
            d="M0,160L48,149.3C96,139,192,117,288,112C384,107,480,117,576,133.3C672,149,768,171,864,192C960,213,1056,235,1152,229.3C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
          ></path>
        </svg>
      </div>

      <ul class="gallery" role="list">
        {% block galleryFresh %}
          {% for i in range(1, 5) %}
            <li
                  data-aos-anchor=".fresh-title"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
              <a data-fslightbox="fresh" href="./assets/imgs/fresh/{{i}}.jpg">
                <img
                  loading="lazy"
                  src="./assets/imgs/fresh-min/{{i}}.jpg"
                  alt="Fresh food"
/>
              </a>
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
    </section>

    <section id="contacts" class="section">
      <ul
        class="working-hours"
        role="list"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <li>
          <p class="heading-3">Работно време</p>
        </li>
        <li>
          <p class="day">Понеделник</p>
          <p class="time">9:00 - 21:00</p>
        </li>
        <li>
          <p class="day">Вторник</p>
          <p class="time">9:00 - 21:00</p>
        </li>
        <li>
          <p class="day">Сряда</p>
          <p class="time">9:00 - 21:00</p>
        </li>
        <li>
          <p class="day">Четвъртък</p>
          <p class="time">9:00 - 21:00</p>
        </li>
        <li>
          <p class="day">Петък</p>
          <p class="time">9:00 - 21:00</p>
        </li>
        <li>
          <p class="day">Събота</p>
          <p class="time">9:00 - 21:00</p>
        </li>
        <li>
          <p class="day">Неделя</p>
          <p class="time">9:00 - 21:00</p>
        </li>
      </ul>

      <h2 class="title" data-aos="fade-up">Контакти</h2>

      <ul
        class="links lobo-owl"
        role="list"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <li>
          <span>Телефон за контакт:</span>
          <a href="tel:+359888505600">+359 888 505 600</a>
        </li>
        <li>
          <span>Facebook страница:</span>
          <a href="https://www.facebook.com/nemomarek" target="__blank"
            >nemomarek</a
          >
        </li>
      </ul>

      <iframe
        data-aos="fade-up"
        data-aos-delay="900"
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5814.052611219735!2d27.999386531616764!3d43.22990811892893!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb78000ee8ee57bf7!2z0KDQuNCx0LDRgNC90LjRhtCwINCd0LXQvNC-!5e0!3m2!1sen!2sbg!4v1650637024783!5m2!1sen!2sbg"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>

    <section class="section">
      <h2>Други обекти</h2>
      <p class="desc">
        При нас в Немо Марек можете да намерите разнообразен избор от пресни и
        готвени риби, както и различни салати и гарнитури.
      </p>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./js/fslightbox.js"></script>
    <script src="./js/rellax.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>