@import "open-color/open-color.scss";

:root {
  --clr-primary: #eb690b;
  --clr-primary-0: #f7c39d;
  --clr-primary-1: #f3a56d;
  --clr-primary-2: #ef873c;
  --clr-primary-3: var(--clr-primary);
  --clr-primary-4: #d45f0a;
  --clr-primary-5: #bc5409;
  --clr-primary-6: #a54a08;

  --clr-secondary-0: #99d3d8;
  --clr-secondary-1: #66bdc5;
  --clr-secondary-2: #33a7b1;
  --clr-secondary-3: #00919e;
  --clr-secondary-4: #00919e;
  --clr-secondary-5: #00919e;

  --clr-text: #{$oc-gray-0};

  --clr-light-0: #{$oc-gray-0};
  --clr-light-1: #{$oc-gray-1};
  --clr-light-2: #{$oc-gray-2};
  --clr-light-3: #{$oc-gray-3};

  --clr-dark-0: #{$oc-gray-6};
  --clr-dark-1: #{$oc-gray-7};
  --clr-dark-2: #{$oc-gray-8};
  --clr-dark-3: #{$oc-gray-9};
}
